<section id="{{ section.id }}" class="test-section">
  {% assign heading = section.settings.heading | default: "Hello, Bike Shark!" %}
  <h2 class="test-section__heading">{{ heading | escape }}</h2>
</section>

{% schema %}
  {
    "name": "Test section — Heading",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading text",
        "default": "Hello, Bike Shark!"
      }
    ],
    "presets": [
      {
        "name": "Simple heading",
        "category": "Text"
      }, {
        "name": "Prominent heading",
        "category": "Text"
      }
    ]
  }
{% endschema %}